@import "@repo/styles/fonts.css";
@import "@repo/styles/base.css";
@import "tailwindcss";

/* Apply base styles */
html {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
